[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipdb = "*"
ipython = "*"
sqlalchemy = "*"
psycopg2 = "*"
pandas = "*"
pytest = "*"
black = "*"
invoke = "*"
inflection="*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
